@font-face {
    font-family: 'Pollie';
    src: url('Pollie.woff2') format('woff2'),
        url('Pollie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Windfarm';
    src: url('WindfarmRegular.woff2') format('woff2'),
        url('WindfarmRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

